input[type="file"] {
  width: 100px;
}

#image-canvas {
  border: 2px solid black;
  height: 100px;
  width: 100px;
}

#color-canvas {
  border: 2px solid black;
  background-color: black;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
